<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'DinamikDepoHucreList'| translate}}</h4>
            <a *ngIf="checkClaim('CreateDinamikDepoHucreCommand')" class="pull-right" data-toggle="modal" data-target="#dinamikdepohucre"> <i style="color:white"  title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>
							<table mat-table [dataSource]="dataSource" matSort>


								
                   <ng-container matColumnDef="kayitYapanKullaniciID">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'KayitYapanKullaniciID'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.kayitYapanKullaniciID}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="kayitTarihi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'KayitTarihi'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.kayitTarihi}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="duzeltmeYapanKullaniciID">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'DuzeltmeYapanKullaniciID'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.duzeltmeYapanKullaniciID}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="duzeltmeTarihi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'DuzeltmeTarihi'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.duzeltmeTarihi}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="aktifMi">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'AktifMi'|translate}}</th>
                     <td mat-cell *matCellDef="let element"> 
                        <mat-checkbox [checked]="element.aktifMi" [disabled]="true"></mat-checkbox>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="id">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Id'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.id}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="hucreKodu">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'HucreKodu'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.hucreKodu}}</td>
				   </ng-container>




								<ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateDinamikDepoHucreCommand')" data-toggle="modal" data-target="#dinamikdepohucre"  (click)="getDinamikDepoHucreById(element.kayitYapanKullaniciID)">
                      <i title="{{'Update'| translate}}" style="color:#ff5722;" class="far fa-edit"></i>
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td  style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteDinamikDepoHucreCommand')" (confirm)="deleteDinamikDepoHucre(element.kayitYapanKullaniciID)" [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color: #D9534E;"class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
							</table>
							<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="dinamikdepohucre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(dinamikDepoHucreAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
           {{'DinamikDepoHucreForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="dinamikDepoHucreAddForm" [formGroup]="dinamikDepoHucreAddForm" (ngSubmit)="save()">
          
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="kayitTarihi" type="text" id="kayitTarihi" name="kayitTarihi"
                       formControlName="kayitTarihi" />
                <div class="alert alert-danger"
                     *ngIf="dinamikDepoHucreAddForm.get('kayitTarihi')!.hasError('kayitTarihi') && dinamikDepoHucreAddForm.get('kayitTarihi')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="duzeltmeYapanKullaniciID" type="text" id="duzeltmeYapanKullaniciID" name="duzeltmeYapanKullaniciID"
                       formControlName="duzeltmeYapanKullaniciID" />
                <div class="alert alert-danger"
                     *ngIf="dinamikDepoHucreAddForm.get('duzeltmeYapanKullaniciID')!.hasError('duzeltmeYapanKullaniciID') && dinamikDepoHucreAddForm.get('duzeltmeYapanKullaniciID')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="duzeltmeTarihi" type="text" id="duzeltmeTarihi" name="duzeltmeTarihi"
                       formControlName="duzeltmeTarihi" />
                <div class="alert alert-danger"
                     *ngIf="dinamikDepoHucreAddForm.get('duzeltmeTarihi')!.hasError('duzeltmeTarihi') && dinamikDepoHucreAddForm.get('duzeltmeTarihi')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div><div class="row">
            <div class="col col-md-2">
                       <mat-checkbox  formControlName="aktifMi" id="aktifMi" name="aktifMi" > aktifMi
                      </mat-checkbox>
            </div>
          </div>
					<div class="row">
						<div class="col-md-12">
							<select class="browser-default custom-select" formControlName="id">
								<option *ngFor="let item of dinamikDepoHucrelookUp" [value]="item.id"> {{item.label}}</option>
							</select>
						</div>
					</div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="hucreKodu" type="text" id="hucreKodu" name="hucreKodu"
                       formControlName="hucreKodu" />
                <div class="alert alert-danger"
                     *ngIf="dinamikDepoHucreAddForm.get('hucreKodu')!.hasError('hucreKodu') && dinamikDepoHucreAddForm.get('hucreKodu')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
                   
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon = "error" [showCancelButton]="true"
	[confirmButtonText] = "'OK'"[cancelButtonText] = "'Cancel'" >
</swal>

